html {
    min-height: 100%;
}

body {
    background-color: black;
}

header {
    color: white;
    text-align: center;
}

.badge {
    color: white;
    margin-top: 75px;
}

#user-label {
    float: left;
    margin-left: 300px;
    font-size: x-large;
    border-style:solid;
    border-color: white;
    padding: 10px;
    border-radius: 5px;
}

#user-score {
    float: left;
    margin-left: 150px;
    font-size: 75px;
    margin-top: 60px;
}

#computer-label {
    float: right;
    margin-right: 290px;
    font-size: x-large;
    border-style:solid;
    border-color: white;
    padding: 10px;
    border-radius: 5px;
}

#computer-score {
    float: right;
    margin-right: 150px;
    font-size: 75px;
    margin-top: 60px;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
    padding: 15px, 15px;
}

.button {
    transform: scale(3);
    margin-left: 100px;
    margin-right: 100px;
    font-size: 75px;
}